@use '../variables.sass'

.nav
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: #fff
  backdrop-filter: blur(4.8px)
  -webkit-backdrop-filter: blur(4.8px)
  z-index: 1000
  display: flex
  align-items: center
  justify-content: space-between
  padding: 1em 23%
  border-bottom: 1px solid #eaeaea
  transition: all .3s

  @media screen and (max-width: variables.$smaller-screens)
    padding: 
      left: 10%
      right: 10%

  @media screen and (max-width: variables.$mobile-width)
    padding: 
      left: 1.33em
      right: 1.33em

.scrolled
  padding: 
    top: .35em
    bottom: .35em
  box-shadow: rgba(0, 0, 0, .1) 0px 0px 15px 0px

.title
  font-size: 2.2em
  font-weight: 600
  cursor: pointer
  display: flex
  align-items: center
  margin: 0
  transition: all .3s

  span
    transition: all .3s

    &:hover
      opacity: .7

  img
    height: 1.2em
    border-radius: 100%
    margin-right: .5em
    transition: all .3s

    &:hover
      opacity: .75

.scrolledTitle
  span
    opacity: 0

.menu
  display: flex
  align-items: center

  a
    font-size: 1.15em
    color: variables.$text-color-normal
    margin: 0 1.2em
    transition: all .3s
    text-decoration: none

    &:last-child
      margin-right: 0

    &:hover
      color: variables.$theme