@use 'variables.sass'
  
html,
body
  padding: 0
  margin: 0
  font-family: variables.$font

*
  box-sizing: border-box

::selection
  color: #fff
  background: variables.$theme

::-moz-selection
  color: #fff
  background: variables.$theme

button, input, textarea, select
  font-family: variables.$font