@use 'variables.sass'
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap')

.intro
  padding: 1em 0 2em
  margin: 0 auto
  text-align: center

  h1
    font-family: 'Open Sans', sans-serif
    font-size: 10rem
    margin: .6em 1em
    font-weight: 800
    letter-spacing: -.08em
    line-height: .9em

    span
      display: block
      position: relative
      z-index: 1
      color: #000

      &::before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 0
        color: #000
        text-align: center
        +variables.gradient-text
        animation: switchGradient 7s linear infinite

      &:first-child::before
        content: 'Hi'
        background-image: linear-gradient(-90deg, variables.$theme, #00dfd8)
        background-image: -webkit-linear-gradient(-90deg, variables.$theme, #00dfd8)

      &:nth-child(2)::before
        content: "I'm"
        background-image: linear-gradient(-90deg, #8a00da, #ff0000)
        background-image: -webkit-linear-gradient(-90deg, #8a00da, #ff0000)
        animation-delay: 2.5s

      &:nth-child(3)::before
        content: 'Marton!'
        background-image: linear-gradient(-90deg, #d8ca08, #ff5100)
        background-image: -webkit-linear-gradient(-90deg, #d8ca08, #ff5100)
        animation-delay: 5s

@keyframes switchGradient
  0%,
  15%,
  to
    opacity: 1

  33.33%,
  83.33%
    opacity: 0