.Spotify
  position: fixed
  right: 1em
  top: 1em
  border-radius: 7.5px
  background-color: rgba(#000, .8)
  padding: .5em
  color: #fff
  z-index: 100000
  display: flex
  text-decoration: none
  box-shadow: 0 0 19px 1px rgb(#000, .35)
  transition: all .24s ease-in-out

  &:hover
    background-color: rgba(#000, .9)

  img
    border-radius: 5px
    height: 4.5em
    width: 4.5em
    margin-right: 1em

  h1
    margin: 0
      bottom: .1em
    font-size: 1.5em
    font-weight: 600

  h2
    margin: 0
      bottom: .5em
    font-size: 1em
    font-weight: 400

  .Timeline
    width: 100%
    background-color: #fff
    height: 4px
    border-radius: 2px
    overflow: hidden

    .Progress
      height: 100%
      background-color: #1DB954